/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}

.prose img {
	border: 2px green solid;
	border-radius: 5px;
}

.dark .prose img {
	border: 2px yellow solid;
	border-radius: 5px;
}

.prose code:before {
	content: '';
}

.prose code:after {
	content: '';
}

img {
	z-index: 0;
}

code {
	counter-reset: step;
	counter-increment: step 0;
}

code .line::before {
	content: counter(step);
	counter-increment: step;
	width: 1rem;
	margin-right: 1.5rem;
	display: inline-block;
	text-align: right;
	color: rgba(214, 243, 255, 0.4);
}
