/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}

.prose img {
	border: 2px green solid;
	border-radius: 5px;
}

.dark .prose img {
	border: 2px yellow solid;
	border-radius: 5px;
}
