/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}

.prose img {
	border: 2px green solid;
	border-radius: 5px;
}

.dark .prose img {
	border: 2px yellow solid;
	border-radius: 5px;
}

.prose code:before {
	content: '';
}

.prose code:after {
	content: '';
}

img {
	z-index: 0;
}

/*
 Margin and rounding are personal preferences,
 overflow-x-auto is recommended.
*/
pre {
	@apply my-4 rounded overflow-x-auto;
}

/*
 Add some vertical padding and expand the width
 to fill its container. The horizontal padding
 comes at the line level so that background
 colors extend edge to edge.
*/
pre code {
	@apply block py-4 min-w-max;
}

/*
 Horizontal line padding.
*/
pre code .line {
	@apply pl-1 pr-4;
}

/*
 Push the code away from the line numbers and
 summary caret indicators.
*/
pre code .line-number,
pre code .summary-caret {
	@apply mr-4;
}
